img {
    width: 200px;
}
/* ABSOLUTE positioning is like setting coordinates
 * The element is taken OUT of the page's NORMAL FLOW
 * Then we set the distance from two sides (top & left) 
*/
#absolute {
    position: absolute;
    top:400px;
    left:200px
}

#fixed {
    Position:fixed;
    bottom: 0px;
    right: 0px;
}


